.body {
    position: relative;
}

.questionBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    justify-content: center;
    align-items: center;
    border: 10px solid darkblue;
}

#question {
 color: darkred;
 font-family: Verdana, Tahoma, sans-serif;
 font-size: larger;
}

#answer {
    color: black;
}

#timer {
    float: right;
    background-color: darkblue;
    border: 2px solid black;
    color: whitesmoke;
    box-shadow: 5px 5px 5px black;
}

.button {
    background-color: black;
    color: yellow
}